<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Capital One</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<!-- Add jquery -->
  <%= javascript_include_tag 'jquery-2.1.4.min.js', 'application' %>

  <%= javascript_include_tag 'quantize.js' %>
  <%= javascript_include_tag 'mustache.js' %>

  <%= csrf_meta_tags %>
  <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:700' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
